:root{
	// Colors
	--primary: #7367f0;
	--primary-1: #5e50ee;
	--font-main: #6e6b7b;
	--font-login: #5e5873;
	// --font-main: #b4b7bd darkMode;
	--font-secondary: #a6a4b0;
	// --font-secondary: #676d7d darkMode;
	//BackgroundColors
	--bg-main: #283046;
	--bg-secondary: #82868b;
	--bg-success: #28c76f;
	--bg-warning: #ff9f43;
	--bg-danger: #ea5455;
	--bg-info: #00cfe8;
	--bg-login: #f8f8f8;
	//BoxShadow
	--box-main-shadow: 0 4px 24px 0 rgb(34 41 47 / 24%);
}