.auth{
  min-height: 100vh;
  line-height: 1.2rem;
  .auth-img{
    background-color: var(--bg-login);
    height: 100vh;
  }
  .card-title{
    color: var(--font-login);
    font-weight: 500;
  }
  .card-text{
    color: var(--font-main)
  }
  small{
    color: var(--primary);
  }
  .label{
    font-size: 0.857rem;
    color: var(--font-login);
  }
  p a{
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
  }
}