<div class="container-fluid">
  <div class="row auth">
    <div class="d-none d-lg-flex col-lg-8 p-5 auth-img">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img src="/assets/images/login.svg" class="img-fluid"/>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center px-2 p-5 col-lg-4 auth-body">
      <div class="px-xl-2 mx-auto col-sm-8 col-md-6 col-lg-12">
        <h2 class="card-title mb-2">{{ "auth.forgetPassword" | translate }}</h2>
        <p class="card-text mb-2">{{ "auth.forgetBody" | translate }}</p>
        <form [formGroup]="forgetPasswordForm">
          <div class="form-group my-3">
            <label for="forget-password" class="label mb-1">{{ "common.email" | translate }}</label>
            <app-input 
              [control]="forgetPasswordForm.get('email')" 
              [id]="'forget-password'" 
              [class]="'form-control'"
              [type]="'email'"
              placeholder="{{'auth.enterEmail' | translate }}"
              ></app-input>
          </div>
          <div class="d-grid my-3">
            <button [disabled]="forgetPasswordForm.invalid" class="btn btn-primary">
              {{ "auth.forgetButton" | translate }}
            </button>
          </div>
          <p class="text-center">
            <a [routerLink]="['/login']">
              <i class="fa-solid fa-angle-left"></i>
              {{ "auth.backToLogin" | translate }}
            </a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
